{% extends "ESAgendaBundle::layout.html.twig" %}

{% block title %}
  {{ 'Modifier un évènement'|trans }} - {{ parent() }}
{% endblock %}

{% block esagenda_body %}

  <h2>{{ 'Modifier un évènement'|trans }}</h2>

  {{ include("ESAgendaBundle:Agenda:form.html.twig") }}

  <p>
    <a href="{{ path('es_agenda_view', {'id': event.id}) }}" class="btn btn-default btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{ 'Retour à l\'évènement'|trans }}
    </a>
  </p>

{% endblock %}