{% extends "ESAgendaBundle::layout.html.twig" %}

{% block esagenda_body %}

    {% set time = "now"|date("U")|date_modify("+" ~ month ~ " month") %}
    <table>
        <thead>
                <th colspan="7" class="center">
                    {{ time|date('Y') }}
                </th>
            <tr>
                <th colspan="1" class="left">
                    <a href="{{ path('es_agenda_index', {'month': (month-1)}) }}">&lt;&lt;</a>
                </th>
                <th colspan="7" class="center">
                    {{ time|date('F') |trans }}
                </th>
                <th class="right">
                    <a href="{{ path('es_agenda_index', {'month': (month+1)}) }}">&gt;&gt;</a>
                </th>
            </tr>
            <tr>
                <th width="15%">Lundi</th>
                <th width="15%">Mardi</th>
                <th width="15%">Mercredi</th>
                <th width="15%">Jeudi</th>
                <th width="15%">Vendredi</th>
                <th width="15%">Samedi</th>
                <th width="15%">Dimanche</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% set daysInMonth = time|date('t') %}
            {% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
            {% set dow = startDow %}
            {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}
                <td>
                    <div>
                        <div>
                            {% if time|date('d') == day and month == 0 %}
                                <strong>{{ day }}</strong>
                            {% else %}
                                {{ day }}
                            {% endif %}
                        </div>
                        <div>
                            {% if listEvents is not empty and listEvents[0].dateBeginning|date('d')== day %}
                                {% set event = listEvents[0] %}
                                <a href="{{ path('es_agenda_view', {'id': event.id}) }}">{{ event.name }}</a> à {{  event.dateBeginning|date('H:i') }}
                                {% set listEvents = listEvents|slice(1) %}
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                    {% set dow = 0 %}
                </tr>
                <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
</table>

	<a href="{{ path('es_agenda_add') }}" class="btn btn-default">Ajouter un évènement</a>
{% endblock %}