{% extends "ESAgendaBundle::layout.html.twig" %}

{% block title %}
  {{ 'Lecture d\'un évènement'|trans }} - {{ parent() }}
{% endblock %}

{% block esagenda_body %}

  <h2>{{ event.name }}</h2>
  <i>{{ 'Du'|trans }} {{ event.dateBeginning|date('d/m/Y') }}, {{  event.dateBeginning|date('H:i') }} {{ 'à'|trans }} {{ event.dateEnding|date('d/m/Y') }}, {{  event.dateEnding|date('H:i') }}</i>

  <div class="well">
    {{ event.description }}
  </div>

  <p>
    <a href="{{ path('es_agenda_index') }}" class="btn btn-default btn-primary">
      {{ 'Retour'|trans }}
    </a>
    <a href="{{ path('es_agenda_edit', {'id': event.id}) }}" class="btn btn-default btn-dark">
      {{ 'Modifier l\'évènement'|trans }}
    </a>
    <a href="{{ path('es_agenda_delete', {'id': event.id}) }}" class="btn btn-danger">
      {{ 'Supprimer l\'évènement'|trans }}
      </a>
  </p>

{% endblock %}