{% extends "ESPlatformBundle::layout.html.twig" %}

{% block title %}
  {{ 'Modifier une annonce'|trans }} - {{ parent() }}
{% endblock %}

{% block esplatform_body %}

  <h2>{{ 'Modifier une annonce'|trans }}</h2>

  {{ include("ESPlatformBundle:Advert:form.html.twig") }}

  <p>
    <a href="{{ path('es_platform_view', {'id': advert.id}) }}" class="btn btn-default btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{ 'Retour à l\'annonce'|trans }}
    </a>
  </p>

{% endblock %}