{% extends "ESPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Accueil'|trans }}{% endblock %}

{% block esplatform_body %}
	<h2>{{ 'Mes annonces'|trans }}</h2>
	
	<ul>
    	{% for advert in listAdverts %}
      		<li>
        		<a href="{{ path('es_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a> {{ 'le'|trans }} {{ advert.date|date('d/m/Y') }}
        	</li>
    	
    	{% else %}
			<li>{{ 'Pas (encore !) d\'annonces'|trans }}</li>
    	{% endfor %}

	</ul>

{% endblock %}