<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{{ 'ES Plateforme'|trans }}{% endblock %}</title>

  <link rel="icon" href="{{ asset('images/cropped-logoestelisolidarite50x50.jpg')}}" sizes="32x32">

  {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  {% endblock %}
</head>

<style type="text/css">
body {
  padding-top: 4rem;
}
h4 {
  padding-top: 1rem;
}
</style>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('es_platform_home') }}"><img src="{{ asset('images/cropped-logoestelisolidarite80x80.jpg')}}" width="35"></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ 'Profil'|trans }}</a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" href="{{ path('fos_message_inbox') }}">{{ 'Messagerie'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ 'Déconnexion'|trans }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'Créer un compte'|trans }}</a>
        </li>
        {% endif %}

        <li {% if app.request.locale == 'fr' %} class="nav-item active small" {% else %} class="nav-item small" {% endif %}>
        	<a class="nav-link" href="{{ path('home', { _locale : 'fr' }) }}">fr</a>
        </li>
        <li {% if app.request.locale == 'en' %} class="nav-item active small" {% else %} class="nav-item small" {% endif %}>
        	<a class="nav-link" href="{{ path('home', { _locale : 'en' }) }}">en</a>
        </li>
        <li {% if app.request.locale == 'es' %} class="nav-item active small" {% else %} class="nav-item small" {% endif %}>
        	<a class="nav-link" href="{{ path('home', { _locale : 'es' }) }}">es</a>
        </li>
      </ul>
      <a class="btn btn-lg" href="https://estelisolidarite.wordpress.com/">
        {{ 'À Propos'|trans }}
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-3 d-none d-sm-block bg-light sidebar">

        {% if is_granted("ROLE_ADMIN") %}
          <h4>{{ 'Espace administrateur'|trans }}</h3>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-item" href="{{ path('es_user_home') }}">{{ 'Utilisateurs'|trans }}</a></li>
          </ul>
        {% endif %}

        {% if is_granted("ROLE_MEMBRE") %}
          <h4>{{ 'Espace membre'|trans }}</h3>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-item" href="{{ path('fos_message_inbox') }}">{{ 'Messagerie'|trans }}</a></li>
            <li class="nav-item"><a class="nav-item" href="{{ path('es_file_index') }}">{{ 'Fichiers'|trans }}</a></li>
            <li class="nav-item"><a class="nav-item" href="{{ path('es_agenda_index') }}">{{ 'Agenda'|trans }}</a></li>
            <li class="nav-item"><a class="nav-item" href="{{ path('es_platform_accept') }}">{{ 'Gestion des projets'|trans }}</a></li>
          </ul>
        {% endif %}
      
        <h4>{{ 'Les annonces'|trans }}</h3>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item"><a class="nav-item" href="{{ path('es_platform_home') }}">{{ 'Accueil'|trans }}</a></li>
          {% if is_granted('ROLE_AUTEUR') %}
            <li class="nav-item"><a class="nav-item" href="{{ path('es_platform_add') }}">{{ 'Ajouter une annonce'|trans }}</a></li>
            <li class="nav-item"><a class="nav-item" href="{{ path('es_platform_self_adverts') }}">{{ 'Mes annonces'|trans }}</a></li>
          {% endif %}
        </ul>

        <h4>{{ 'Dernières annonces'|trans }}</h4>
        {{ render(controller("ESPlatformBundle:Advert:menu", {'limit': 3})) }}
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-9 pt-3" role="main">
        {% block body %}
        {% endblock %}
      </main>
    </div>

    <hr>
  </div>

  {% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  {% endblock %}

</body>
</html>