{% extends "ESFileBundle::layout.html.twig" %}

{% block title %}
	{{ 'Supprimer un fichier'|trans }} - {{ parent() }}
{% endblock %}
 
{% block esfile_body %}

  <h2>{{ 'Supprimer un fichier'|trans }}</h2>

  <p>
	  {{ 'Êtes vous certain de vouloir supprimer le fichier'|trans }} "{{ file.name }}" ?
  </p>

  <form action="{{ path('es_file_delete_file', {'id': file.id}) }}" method="post">
    <input type="submit" value="{{ 'Supprimer'|trans }}" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}